@import url('https://fonts.googleapis.com/css?family=Pacifico|Roboto+Condensed');
@import 'nav.css';
@import 'footer.css';

* {
	margin: 0;
	padding: 0;
}
:root {
	--main-dark-color: #343a40;
	--main-font-family: 'Roboto Condensed', sans-serif;
	--crispy-font: 'Pacifico', cursive;
}
body {
	color: #fff;
	font-family: var(--main-font-family);
	background: url('../img/landingPagebg.jpg'), linear-gradient(red, green);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
	width: 100%;
	height: 100vh;
}

/* Menu styling */
.container-fluid {
	position: relative;
	margin-bottom: 3rem;
}
section {
	width: 80%;
	margin: 0 auto;
	margin-top: 75px;
}
img {
	max-width: 100%;
}

.custom-menu1 {
	height: 300px;
	background: #f3f3f3;
	margin-bottom: 2.5rem;
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-gap: 5px;
	border-radius: 5px;
	padding: 10px;
	position: relative;
}
.cris {
	font-family: var(--crispy-font);
	position: absolute;
	font-size: 3.5rem;
	background: rgba(0, 0, 0, 0.6);
	padding: 5px;
	border-radius: 0 0 10px 0;
}
.custom-menu1 img {
	width: 100%;
	height: 300px;
	border-radius: 5px;
}

.custom-menu2 {
	background: #fff;
	color: var(--main-dark-color);
	padding: 1rem;
}
.custom-menu2 h4 {
	margin-bottom: 1rem;
}
.food-menu {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-gap: 1rem;
	background: #fff;
	color: var(--main-dark-color);
	margin: 0 auto;
}
.card {
	position: relative;
	background: rgba(0, 0, 0, 0.1);
	border-radius: 5px;
	width: 250px;
	height: 250px;
	margin-bottom: 10px;
	cursor: pointer;
	overflow: hidden;
	transition: all 0.5s;
}
.card span {
	padding: 5px;
	position: absolute;
	right: 0;
	bottom: 0;
	background: #3a72da;
	color: #fff;
	border-radius: 5px 0 0 0;
	transform: translate(100%, 100%);
	transition: all 0.5s;
}
.card:hover span {
	transform: translate(0, 0);
}

.card:hover span:hover {
	color: #3a72da;
	background: #fff;
}
.card-img-top {
	width: 200px;
	height: 200px;
	margin: 0 auto;
}
.card-img-top img {
	width: 200px;
	height: 200px;
	border-radius: 50%;
}
.card-img-body {
	padding: 0 5px;
}
.card-img-body p:nth-child(2) {
	font-weight: bold;
}
@media (max-width: 1120px) {
	.food-menu {
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		grid-gap: 1rem;
	}
}
@media (max-width: 768px) {
	.cris {
		font-size: 2.5rem;
	}
	.food-menu {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		grid-gap: 1rem;
	}
	section {
		width: 95%;
		margin: 0 auto;
		margin-top: 75px;
	}
	.card {
		position: relative;
		background: rgba(0, 0, 0, 0.1);
		border-radius: 5px;
		width: 300px;
		height: 300px;
	}

	.card-img-top {
		width: 250px;
		height: 250px;
		margin: 0 auto;
	}
	.card-img-top img {
		width: 250px;
		height: 250px;
	}
}
@media (max-width: 578px) {
	.food-menu {
		display: grid;
		grid-template-columns: 1fr;
		grid-gap: 1rem;
	}
	.card {
		width: 350px;
		height: 350px;
	}

	.card-img-top {
		width: 300px;
		height: 300px;
		margin: 0 auto;
	}
	.card-img-top img {
		width: 300px;
		height: 300px;
	}
}
@media (max-width: 390px) {
	.card {
		width: 300px;
		height: 300px;
	}

	.card-img-top {
		width: 250px;
		height: 250px;
		margin: 0 auto;
	}
	.card-img-top img {
		width: 250px;
		height: 250px;
		margin: 0 auto;
	}
}
@media (max-width: 330) {
	.card {
		width: 300px;
		height: 300px;
	}

	.card-img-top {
		width: 150px;
		height: 150px;
		margin: 0 auto;
	}
	.card-img-top img {
		width: 150px;
		height: 150px;
		margin: 0 auto;
	}
}
