@import url('https://fonts.googleapis.com/css?family=Pacifico|Roboto+Condensed');
@import 'navadmin.css';
@import 'footer.css';

* {
	margin: 0;
	padding: 0;
}
:root {
	--main-dark-color: #343a40;
	--main-font-family: 'Roboto Condensed', sans-serif;
	--crispy-font: 'Pacifico', cursive;
}
body {
	color: #fff;
	font-family: var(--main-font-family);
	background: #f8f8f8;
}
.nav-flex a:nth-child(2) {
	margin-left: 1rem;
	padding-top: 5px;
}
.footer a {
	text-decoration: none !important;
	color: #fff !important;
}
