@import 'https://fonts.googleapis.com/css?family=Pacifico|Roboto+Condensed';
* {
	margin: 0;
	padding: 0;
}
:root {
	--main-dark-color: #343a40;
	--main-font-family: 'Roboto Condensed', sans-serif;
	--crispy-font: 'Pacifico', cursive;
}
body {
	color: #fff;
	font-family: var(--main-font-family);
}
.container {
	position: absolute;
	top: 50px;
	left: 200px;
	padding: 1.2rem;
	width: inherit;
	color: var(--main-dark-color);
}
.contain {
	width: auto;
	margin-top: 1rem;
	padding: 1rem;
	border-radius: 10px;
	box-shadow: .5px .5px 1px 1px #333;
	box-sizing: border-box;
}
.profit {
	text-align: center;
	padding: 10px 0;
}

tr:nth-of-type(odd) {
	background: #eee;
}

.table {
	margin-top: 20px;
	width: 100%;
	margin-bottom: 1rem;
	color: var(--main-dark-color);
	border-collapse: collapse;
	border-spacing: 0px;
}
.table th {
	padding: .7rem;
}
.table td {
	padding: 0.5rem;
	vertical-align: top;
	border-top: 1px solid #dee2e6;
	text-align: center;
}
.table td:nth-child(1),
.table td:nth-child(4),
.table td:nth-child(8),
.table td:nth-child(9),
.table td:nth-child(10) {
	width: 5%;
}

.table td:nth-child(2),
.table td:nth-child(3),
.table td:nth-child(5),
.table td:nth-child(7) {
	width: 10%;
}
.table td:nth-child(10) button {
	cursor: pointer;
	padding: 9px;
	font-size: 1rem;
	border-radius: 5px;
	background: brown;
	color: #fff;
}
.table thead tr {
	color: #fff;
	background-color: #333;
	vertical-align: bottom;
	border-bottom: 2px solid #dee2e6;
	text-align: center;
}
.table tbody tr {
	transition: all .5s linear;
}
.table tbody tr:hover {
	color: #fff;
	background: #333;
	border-color: #32383e;
}
@media screen and (max-width: 768px) {
	.container {
		position: relative;
		left: 0px;
		padding: 1rem;
	}
}
@media screen and (max-width: 768px), (min-device-width: 768px) and (max-device-width: 1024px) {
	.table {
		border: 0;
	}
	.table thead {
		border: none;
		clip: rect(0 0 0 0);
		height: 1px;
		margin: -1px;
		overflow: hidden;
		padding: 0;
		position: absolute;
		width: 1px;
	}
	.table td {
		border-bottom: 1px solid #ddd;
		display: block;
		font-size: .8em;
		text-align: right;
	}

	.table td::before {
		content: attr(data-label);
		float: left;
		font-weight: bold;
		text-transform: uppercase;
	}
	.table td:nth-child(1),
	.table td:nth-child(4),
	.table td:nth-child(8),
	.table td:nth-child(9),
	.table td:nth-child(10),
	.table td:nth-child(2),
	.table td:nth-child(3),
	.table td:nth-child(5),
	.table td:nth-child(7) {
		width: inherit;
	}
	.table td:last-child {
		border-bottom: 0;
	}
	.table tr {
		border-bottom: 3px solid #ddd;
		display: block;
		margin-bottom: .625em;
	}
	.table td:nth-child(10) button {
		padding: 5px;
		font-size: .8rem;
	}
}
