@import url('https://fonts.googleapis.com/css?family=Pacifico|Roboto+Condensed');
* {
	margin: 0;
	padding: 0;
}
:root {
	--main-dark-color: #343a40;
	--main-font-family: 'Roboto Condensed', sans-serif;
	--crispy-font: 'Pacifico', cursive;
}
body {
	color: #fff;
	font-family: var(--main-font-family);
}

.nav {
	margin: 0px;
	background: var(--main-dark-color);
	color: #fff;
	width: 100%;
	height: 40px;
	position: fixed;
	top: 0;
	padding-top: 10px;
	z-index: 3;
}
.crispy1 {
	display: flex;
	justify-content: space-between;
	font-family: var(--crispy-font);
	margin-left: 1.5rem;
	padding: 0 !important;
}
.crispy1::after {
	content: "Crispy Munch";
	color: #fff;
	font-size: 1rem;
}
.nav-flex {
	display: flex;
	justify-content: space-between;
	transition: all .5s;
}
.nav-flex-md {
	display: flex;
	justify-content: space-between;
}
.nav-pills {
	position: absolute;
	top: 50px;
	display: block;
	height: 100vh;
	width: 200px;
	background: #343a40;
	list-style: none;
	z-index: 3;
}
.nav-item {
	color: #f8f8f8;
	display: block;
	margin: 1rem;
	padding: 10px;
	text-align: left;
	border-bottom: 1px solid #fff;
	transition: all 0.5s;
}
.db {
	font-size: 1rem;
	margin-right: 10px;
	transition: all 0.5s;
}
.nav-item:hover .db {
	margin-right: 15px;
}
.nav-item:hover {
	color: #fff;
	border-color: #000;
}
.nav-item a {
	text-decoration: none;
	color: inherit;
}
.hide-on-bg {
	display: none;
}

/* media queries */

@media (max-width: 768px) {
	.hide-on-bg {
		display: block;
	}
	.nav-pills {
		position: absolute;
		top: 0;
		left: -1000px;
		transition: all 1s;
		z-index: 3;
		background: #343a40;
		color: #fff;
	}
	.nav-item {
		color: #fff;
	}
	.nav-flex-md {
		display: block;
	}
	nav button a#openup {
		transform: rotate(-90deg);
		-ms-transform: rotate(-90deg);
		/* IE 9 */
		-webkit-transform: rotate(-90deg);
		/* Safari and Chrome */
		width: 30px;
		height: 30px;
		display: inline-block;
		position: absolute;
		left: 1rem;
		top: 5px;
		border-radius: 5px;
		font-weight: bold;
		color: #fff;
		cursor: pointer;
		z-index: 3;
	}
	nav button a#openup {
		text-align: center;
	}
	nav button {
		background: transparent;
		border: none;
		outline: none;
	}
	.hide-on-small {
		display: none;
	}
	.crispy1 {
		margin-left: 3rem;
	}
	.crispy2 {
		display: flex;
		justify-content: space-between;
		font-family: var(--crispy-font);
		margin-left: 1rem;
		padding: 0 !important;
	}
	.crispy2::after {
		content: "Crispy Munch";
		color: #fff;
		font-size: 1rem;
	}
	.nav-item:first-child {
		margin: 1rem;
		padding-top: 0px;
		padding-bottom: 5px;
		border-bottom-color: transparent;
	}
	.nav-item:first-child:hover {
		font-weight: inherit;
	}
	.navModal {
		display: none; /* Hidden by default */
		position: fixed; /* Stay in place */
		left: 0;
		top: 0;
		width: 100%; /* Full width */
		height: 100%; /* Full height */
		transition: all 0.2s;
		background: rgba(0, 0, 0, 0.4);
	}
}
